.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 85%;
  max-width: 400px;
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-content {
  margin-bottom: 24px;
}

.modal-title {
  font-size: 24px;
  font-family: 'Jost', sans-serif;
  color: #1C1C28;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 600;
}

.modal-text {
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  color: #6E6B8F;
  text-align: center;
  line-height: 24px;
}

.modal-button-container {
  width: 100%;
}

